//container variables
$container-sm: 375px;
$container-md: 640px;
$container-lg: 1024px;
$container-xl: 1440px;

//fonts
$medmate-orange: hsl(26, 100%, 55%);
$medmate-pale-orange: hsl(25, 100%, 94%);
$medmate-dark-blue: hsl(220, 13%, 13%);
$medmate-dark-grayish-blue: hsl(219, 9%, 45%);
$medmate-grayish-blue: hsl(219, 9%, 45%);
$medmate-dark-grayish-blue: hsl(220, 14%, 75%);
$medmate-light-grayish-blue:  hsl(223, 64%, 98%);
$medmate-white: hsl(0, 0%, 100%);
$medmate-black: hsl(0, 0%, 0%);